<!-- <div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>


    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between w-40 p-6 pb-12 sm:pt-5 sm:pb-12 sm:px-5 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">

            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">

                </div>
                <div class="flex sm:hidden">
                    <a class="inline-flex items-center -ml-1.5 text-secondary font-medium" [routerLink]="'./..'">
                        <mat-icon class="icon-size-5 text-secondary"
                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>

            <div>
                <h5 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    ვიზიტორი
                </h5>
            </div>
        </div>

        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

        </div>
    </div>




    <div class="flex-auto bg-gray-100 rounded-t-2xl shadow p-2 md:p-2 bg-card">


        <div style="width: 100% ; height: 100%;">
            
        </div>

    </div>
    






</div> -->

<router-outlet></router-outlet> 